.widget {
    text-align: center;
    /* margin: 200px auto;  */
    border: 10px solid rgb(0, 140, 255);
    border-radius: 15px;
    width: 500px;
    height: 400px;
    background-color: whitesmoke;
  }
.widget * {
    color: rgba(0, 0, 0, 0.833);
    background-color: whitesmoke;
   }