.app {
  text-align: center;
  margin: 200px auto;
  border: 5px solid rgb(0, 140, 255);
  border-radius: 25px;
  width: 500px;
  height: 400px;
  background-color: whitesmoke;
}
 .app * {
  color: rgba(0, 0, 0, 0.833);
  background-color: whitesmoke;
 }

 .app-title {
  font-size: 50px;
  padding: 20px
 }

 .app-text {
  font-size: 20px;
  padding-bottom: 20px
 }
